{% extends 'base.html' %}

{% block content %}
<style>
    h1{
        color: lightblue;
       }
    .card{
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<br>
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to EventRa</h1>
        <h5>Turning moments into MileStones - One event at a time</h5>
        <h6>Planning is everything , Our system makes it effortless..!!</h6>
        <br>
        <div class="row">
            {% for i in events %}
            <div class="col-md-4">
                <div class="card card-body">
                    {% if i.image %}
                        <a href="{{ i.id }}"><img src="{{ i.image.url }}" alt="no img" height="350px" width="300px"></a>
                    {% endif %}
                    <h4><a href="{{ i.id }}" style="text-decoration: none;">{{ i.name }}</a></h4>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}