{% extends 'base.html' %}

{% block content %}
<br>
    <div class="container">
        <div class="jumbotron">
            <div class="card card-body">
                <h1>Login Form..!</h1>
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">Username: </span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="username" aria-describedby="addon-wrapping">
                    </div>
                    <br>
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">Password: </span>
                        <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="password" aria-describedby="addon-wrapping">
                    </div>
                    <br>
                    <input type="submit" class="btn btn-success" value="LOGIN">
                </form>                
            </div>
        </div>
    </div>
{% endblock %}